{:main schema-annotation.core
 :output-to "target/public/js/out/main.js"
 :output-dir "target/public/js/out"
 :asset-path "js/out"
 ;;:externs ["resources/public/js/verovio.js"]
 :target :bundle
 :bundle-cmd {:none ["npx" "webpack" "--mode=development" "--entry" "./target/public/js/out/main.js" "--output-path" "./target/public/js" "--output-filename" "main.js"]
              :default ["npx" "webpack" "--entry" "./target/public/js/out/main.js" "--output-path" "./target/public/js" "--output-filename" "main.js"]
              }
 
 ;;:infer-externs true
 ;;:closure-defines {cljs.core/*global* "window"}
 :optimizations :none
 }
