{:main schema-annotation.core
 :output-to "target/public/js/main.js"
 ;; :output-dir "resources/public/js/out"
 ;; :asset-path "js/out"
 ;;:externs ["resources/public/js/verovio.js"]
 :infer-externs true
 :optimizations :advanced}
