#app {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

/* General visual stuff */

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.button-danger {
    background: #d62728;
    color: #fff;
}

.placeholder {
    min-height: 1em;
}

/* .hide-show { */
/*     display: inline-block; */
/*     margin-left: auto; */
/*     margin-right: 0; */
/*     /\* width: 100%; *\/ */
/*     /\* text-align: right; *\/ */
/* } */

/* annotation component */

.annotations .instance {
    padding: 0.5em 0;
    margin-left: 0.5em;
}

.annotations .instance .instance-name {
    padding: 0.5em 0;
}

.annotations .instance-selected {
    background-color: #e6e6e6;
}

.annotations .validation-error {
    color: #d62728;
}

/* verovio component: note selection and highlight styling */

.verovio-cmp svg {
    width: 100%;
    height: auto;
}

.verovio-cmp.allow-select .note:hover {
    /* fill: #1f77b4; */
    transform: translate3d(0,0,0);
    filter: url("#glowFilter");
}

/* .verovio-cmp.loading { */
/*     height: 100vh;   */
/*     position: relative; */
    
/* } */

.verovio-cmp.loading {
    position: relative;
    min-height: 40px;
}

.verovio-cmp.loading::before {
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
}

.verovio-cmp.loading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* colorscheme: category10 from D3 */

.vrv-highlighted-0,
.vrv-highlighted-1,
.vrv-highlighted-2,
.vrv-highlighted-3,
.vrv-highlighted-4,
.vrv-highlighted-5,
.vrv-highlighted-6,
.vrv-highlighted-7,
.vrv-highlighted-8,
.vrv-selected {
    color: #fff;
}

.vrv-highlighted-0 {
    background-color: #ff7f0e;
    fill: #ff7f0e;
}

.vrv-highlighted-1 {
    background-color: #2ca02c;
    fill: #2ca02c;
}

.vrv-highlighted-2 {
    background-color: #d62728;
    fill: #d62728;
}

.vrv-highlighted-3 {
    background-color: #9467bd;
    fill: #9467bd;
}

.vrv-highlighted-4 {
    background-color: #8c564b;
    fill: #8c564b;
}

.vrv-highlighted-5 {
    background-color: #e377c2;
    fill: #e377c2;
}

.vrv-highlighted-6 {
    background-color: #7f7f7f;
    fill: #7f7f7f;
}

.vrv-highlighted-7 {
    background-color: #bcbd22;
    fill: #bcbd22;
}

.vrv-highlighted-8 {
    background-color: #17becf;
    fill: #17becf;
}

.vrv-selected {
    background-color: #1f77b4;
    fill: #1f77b4;
}

/* Alternative Color Scheme
 * colorbrewer 9-class Set1
 * colorbrewer2.org
 */

/* .vrv-highlighted-0 { */
/*     fill: #377eb8; */
/* } */

/* .vrv-highlighted-1 { */
/*     fill: #4daf4a; */
/* } */

/* .vrv-highlighted-2 { */
/*     fill: #984ea3; */
/* } */

/* .vrv-highlighted-3 { */
/*     fill: #ff7f00; */
/* } */

/* .vrv-highlighted-4 { */
/*     fill: #ffff33; */
/* } */

/* .vrv-highlighted-5 { */
/*     fill: #a65628; */
/* } */

/* .vrv-highlighted-6 { */
/*     fill: #f781bf; */
/* } */

/* .vrv-highlighted-7 { */
/*     fill: #999999; */
/* } */


/* .vrv-selected { */
/*     fill: #e41a1c; */
/* } */
